.profile__account {
  display: flex;
}

@media screen and (max-width: 917px) {
  .profile__account {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
